*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(135deg,#667eea,#764ba2);
    padding:20px;
    color:#333;
}

/* HERO */
.hero{
    background:white;
    text-align:center;
    padding:40px;
    border-radius:20px;
    margin-bottom:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.hero img{
    width:160px;
    height:160px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #4a00e0;
    margin-bottom:15px;
}

.hero h1{
    color:#4a00e0;
    font-size:38px;
}

.hero p{
    color:#555;
    margin-top:5px;
}

/* BUTTON */
button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background:#4a00e0;
    color:white;
    border-radius:25px;
    cursor:pointer;
    font-size:15px;
}

button:hover{
    background:#2d0080;
}

/* SECTIONS */
section{
    background:white;
    margin:20px auto;
    padding:25px;
    border-radius:20px;
    max-width:900px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    transition:0.3s;
}

section:hover{
    transform:translateY(-5px);
}

h2{
    color:#4a00e0;
    margin-bottom:15px;
    border-bottom:2px solid #4a00e0;
    padding-bottom:5px;
}

/* TEXT */
p,li{
    font-size:17px;
    line-height:1.8;
}

ul{
    padding-left:25px;
}

li{
    margin-bottom:8px;
}

/* FOOTER */
footer{
    text-align:center;
    color:white;
    margin-top:30px;
    padding:10px;
}
/* SOCIAL LINKS */

.social-links{
margin-top:20px;
text-align:center;
}

.social-links a{
text-decoration:none;
background:#4a00e0;
color:white;
padding:12px 20px;
border-radius:25px;
margin:5px;
display:inline-block;
transition:0.3s;
font-weight:bold;
}

.social-links a:hover{
background:#2d0080;
transform:scale(1.05);
}

/* CONTACT */

#contact{
text-align:center;
}

/* SMOOTH SCROLL */

html{
scroll-behavior:smooth;
}